.home_page {
  height: 100vh;
  width: 100vw;
}

.home_page > img {
  width: 100vw;
  height: auto;
}

@media screen and (min-width: 600px) {
  .home_page > img {
    width: 100vw;
    height: auto;
  }
}
